.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(17, 118, 165);
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button {
    font-size: 1em;
    padding: 10px 10px;
    cursor: pointer;
    margin-left: 5px;
    border: none;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}


